@import url(fonts.css);

.books {
    background-image: url('../img/ФонКонтент.png');
    background-color: #ffffff;
    color: #000;
    padding: 60px 0;
}

.books__title {
    font-size: 36px;
    font-family: var(--font-unbounded);
    margin-bottom: 10px;
    text-align: left;
    padding-left: 70px;
    font-weight: 400;
}

.books__slider {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 50px;

    align-items: center;
}

.books__list__slider {
    display: flex;
    gap: 35px;

    justify-content: flex-start;
    overflow-x: hidden;
    transition: transform 0.5s ease;
    flex-wrap: nowrap;
}

.slider-btn {
    background: #A68111;
    color: white;
    border: none;
    padding: 20px 15px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}


.slider-btn:hover {
    background: #cb9e15;
}

.books__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    overflow: hidden;
}

.book-card {
    width: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    font-family: "Montserrat", sans-serif;
    flex-shrink: 0;
}

.book-card:hover {
    transform: translateY(-20px);
}

.book-card__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.fin {
    border-radius: 8px;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.fin:hover {
    box-shadow: 0 20px 20px rgba(81, 69, 35, 0.3);
}

.book-card__button {
    background: #A68111;
    color: white;
    font-weight: 400;
    border: none;
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: var(--font-tektur);
    text-decoration: none;
    text-align: center;
}

.book-card__button:hover {
    background: #cb9e15;
}

.book-card__title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    color: #222;
    font-family: var(--font-tektur);
    text-align: left;
    margin-bottom: 10px;
}

.book-card__author {
    font-size: 16px;
    color: #B4AA99;
    text-align: left;
    font-family: var(--font-tektur);
}

.book-card__price {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin-bottom: 10px;
    text-align: left;
    font-family: var(--font-tektur);
}