.book {
    background-image: url('../img/ФонКонтент.png');
    background-color: #ffffff;
    color: #000;
    padding: 60px 0;
}

.breadcrumbs {
    margin-bottom: 10px;
    padding-left: 100px;
}

.breadcrumbs a {
    font-size: clamp(12px, 1.39vw, 20px);
    font-family: var(--font-ubuntu);
    color: #333027;
    margin-bottom: 10px;
    font-weight: 400;
    text-decoration: none;
}

.breadcrumbs a:hover {
    font-weight: bold;
}

.about {
    display: flex;
    gap: 50px;
    padding: 0 100px;
}

.gallery {
    display: flex;
    gap: 24px;
}

.gallery__thumbs {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.gallery__thumbs img {
    width: 80px;
    height: 126px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}

.gallery__thumbs img:hover {
    transform: scale(1.05);
}

.gallery__main img {
    width: 392px;
    height: 580px;
    border-radius: 8px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__title {
    font-size: clamp(20px, 2.5vw, 36px);
    font-family: var(--font-unbounded);
    text-align: left;
    font-weight: 400;
}

.author {
    display: flex;
    flex-direction: column;
}

h3 {
    font-family: var(--font-tektur);
    font-size: clamp(12px, 1.39vw, 20px);
    font-weight: 600;
}

.category {
    color: #B4AA99;
}

.order__button {
    background: #A68111;
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    margin: 20px 0;
    font-size: clamp(14px, 1.39vw, 20px);
    cursor: pointer;
    transition: background 0.3s;
    font-family: var(--font-tektur);
    text-decoration: none;
    text-align: center;
    max-width: 400px;
}

.order__button:hover {
    background: #8e6f0f;
    font-family: var(--font-rubik);
    transform: translateY(-20px);
    font-weight: 400;
}


.tab-buttons {
    display: flex;
    gap: 50px;

}

.tab-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: clamp(14px, 1.39vw, 20px);
    font-family: var(--font-tektur);
    color: #B4AA99;
}

.tab-btn.active {
    font-weight: 600;
    color: #000;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;

}

.scan {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

p {
    font-family: var(--font-tektur);
    color: #333027;
    font-size: clamp(10px, 1.11vw, 16px);
    font-weight: 400;
}

.specs {
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 10px 40px;
}

.specs__item {
    display: contents;
}

.specs__item span {
    font-family: var(--font-tektur);
    color: #333027;
    font-size: clamp(10px, 1.11vw, 16px);
    font-weight: 400;
}

.line {
    border: none;
    height: 2px;
    background-color: #B4AA99;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}