.header--white {
    background-color: #ffffff;
    box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.15);

    z-index: 10;
    position: sticky;
    top: 0;
}
.break {
    flex-basis: 100%;
    height: 0;
}

.scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: -25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
}

.scroll-to-top img {
    width: 200px;
    height: auto;
    transform: rotate(-180deg);
}

.scroll-to-top:hover {
    transform: translateY(5px);
    filter: brightness(1.2);
}