@import url(fonts.css);

.footer {
    background-image: url("../img/ФонНК.png");
    padding: 40px 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 90px;
    margin: 0 auto;
}

.footer__col {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;

}

.footer__col-group {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.footer__col h4 {
    font-size: 20px;
    font-family: var(--font-ubuntu);
    color: #B4AA99;
    margin-bottom: 10px;
    font-weight: 400;
}

.footer__col ul {
    list-style: none;
}

.footer__col ul li a {
    color: #333027;
    font-size: 20px;
    text-decoration: none;
    line-height: 1.8;
    font-family: var(--font-ubuntu);
}

.footer__col ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.footer__socials a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s, opacity 0.3s;
}

.footer__socials a img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-family: var(--font-ubuntu);
    color: #333027;
}