@media (max-width: 1200px){
    .main-banner__content h1 {
        font-size: 36px;
    }
    .main-banner {
        height: 80vh;
    }

}
@media (max-width: 521px){
    .main-banner__content h1 {
        font-size: 28px;
        margin-top: 10px;
    }
    .main-banner {
        height: 70vh;
    }
}