@media (max-width: 1280px) {
    .order-summary{
        width: 704px;
    }

}
@media (max-width: 829px) {
    .order-form h1 {
        font-size: 24px !important;
    }
    .order-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        background-size: cover;
    }
    .order-form,
    .order-summary {
        width: 90%;
        height: auto;
        margin: 20px 0;
        padding: 20px;
    }

    .order-form h1 {
        font-size: 28px;
        text-align: center;
    }

    .order-section h2 {
        font-size: 18px;
    }

    .order-section h2 span {
        font-size: 28px;
        padding-right: 20px;
    }

    .input-label {
        margin-left: 0;
        padding-left: 39px;
        font-size: 14px;
    }

    .input-field {
        width: 90%;
        margin-left: 39px !important;
        font-size: 14px;
    }

    .delivery-options{
        margin-left: 39px !important;
    }
    .delivery-options label p{
        padding-left: 30vw !important;
        font-size: 14px;
    }
    .delivery-options label {
        width: 100%;
        margin-left: 0;
        font-size: 14px;
    }

    .delivery-options p {
        padding-left: 0;
        font-size: 14px;
    }

    .book-image {
        width: 200px;
        height: auto;
        margin-right: 20px;
    }

    .order-summary h3 {
        font-size: 18px;
    }

    .confirm-btn {
        width: 80%;
        margin: 10px 0 0 0;
        font-size: 18px;
        padding: 10px 20px;
    }

    .continue-link {
        font-size: 14px;
    }
    .cart-container{
        height: 100px;
    }
}

@media (max-width: 640px) {
    .order-form,
    .order-summary {
        width: 90%;
        height: auto;
        margin: 20px 0;
        padding: 20px;
    }

    .order-form h1 {
        font-size: 28px;
        text-align: center;
    }

    .order-section h2 {
        font-size: 18px;
    }

    .order-section h2 span {
        font-size: 28px;
        padding-right: 20px;
    }

    .input-label {
        margin-left: 0;
        padding-left: 39px;
        font-size: 14px;
    }

    .input-field {
        width: 80%;
        margin-left: 39px !important;
        font-size: 14px;
    }

    .delivery-options{
        margin-left: 39px !important;
    }
    .delivery-options label p{
        padding-left: 25vw !important;
        font-size: 14px;
    }
    .delivery-options label {
        width: 100%;
        margin-left: 0;
        font-size: 14px;
    }

    .delivery-options p {
        padding-left: 0;
        font-size: 14px;
    }

}
@media (max-width: 593px) {

    .delivery-options label p{
        padding-left: 20vw !important;
        font-size: 12px;
    }
    .order-form h1 {
        font-size: 18px !important;
    }

    .order-container {
        gap: 10px;
    }

    .order-section h2 {
        font-size: 14px;
    }

    .order-section h2 span {
        font-size: 20px;
    }

    .input-label {
        font-size: 12px;
    }

    .input-field {
        width: 80%;
        font-size: 12px;
        height: 16px;
    }

    .delivery-options label p{
        padding-left: 15vw !important;
        font-size: 12px;
    }

    .delivery-options label {
        font-size: 12px;
    }

    .delivery-options p {
        font-size: 12px;
    }

}

@media (max-width: 467px) {

    .order-section h2 {
        font-size: 12px;
    }

    .order-section h2 span {
        font-size: 18px;
    }

    .input-label {
        font-size: 10px;
    }

    .input-field {
        width: 80%;
        font-size: 10px;
    }

    .delivery-options label p{
        padding-left: 15vw !important;
        font-size: 10px;
    }

    .delivery-options label {
        font-size: 10px;
    }

    .delivery-options p {
        font-size: 10px;
    }

}
@media (max-width: 430px) {
    .order-form h1 {
        font-size: 14px !important;
    }
    .book-image {
        width: 150px;
        height: auto;
        margin-right: 1px;
    }

    .order-section h2 {
        font-size: 10px;
    }

    .order-section h2 span {
        font-size: 16px;
    }

    .input-label {
        font-size: 8px;
    }

    .input-field {
        width: 80%;
        font-size: 8px;
        height: 12px;
    }

    .delivery-options label p{
        padding-left: 15vw !important;
        font-size: 8px;
    }

    .delivery-options label {
        font-size: 8px;
    }

    .delivery-options p {
        font-size: 8px;
    }


    .order-summary h3 {
        font-size: 14px;
    }
    .author, .price, .stock, .agreement, .policy{
        font-size: 14px;
    }
    .confirm-btn {
        width: 80%;
        margin: 10px 0 0 0;
        font-size: 18px;
        padding: 10px 20px;
    }

    .continue-link {
        font-size: 14px;
    }
    .cart-container{
        height: 100px;
    }
}