@media (max-width: 1024px) {
    .header--white {
        padding: 15px 40px;
    }
    .scroll-to-top {
        bottom: 15px;
        right: 10px;
    }

    .scroll-to-top img {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .header--white {
        padding: 12px 20px;
    }
    .scroll-to-top {
        bottom: 10px;
        right: 5px;
    }

    .scroll-to-top img {
        width: 120px;
    }
}

@media (max-width: 430px) {
    .header--white {
        padding: 10px 15px;
    }
    .books__title {
        font-size: 16px;
        padding-left: 40px;
        margin-bottom: 15px;
    }
    .scroll-to-top {
        bottom: 8px;
        right: 2px;
    }

    .scroll-to-top img {
        width: 90px;
    }
}
.break {
    flex-basis: 100%;
    height: 0;
}

.scroll-to-top:hover {
    transform: translateY(5px);
    filter: brightness(1.2);
}
