.order-container {
    background-image: url('../img/ФонКонтент.png');
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.order-form, .order-summary {
    margin: 30px 0 30px 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
    padding: 20px;
    width: 704px;
    height: 800px;
}

.order-summary{
    width: 494px;
    height: 800px;
    margin: 30px 0 30px 24px;
}

/*заголовок головний*/
.order-form h1 {
    font-size: 36px !important;
    letter-spacing: 0;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: var(--font-unbounded);
    color: black;
}

.order-section {
    margin-bottom: 30px;
}

/*підписи по секцій*/
.order-section h2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-family: var(--font-tektur);
    font-weight: 500;
}

/*номера*/
.order-section h2 span {
    font-family: var(--font-big-shoulders);
    font-weight: 400;
    color: #a68111;
    font-size: 36px;
    padding-right: 47px;
}

/*назва перед вводом*/
.input-label {
    display: block;
    font-size: 16px;
    margin-left: 65px;
    color: #B4AA99;
    margin-top: 10px;
    font-family: var(--font-tektur);
    font-weight: 400;
}

.input-field {
    width: 80%;
    height: 30px;
    border: 1px solid #c8d0c7;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    margin-left: 63px;
    margin-bottom: 5px;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-top: 1px;
    margin-left: 10px;
}

.delivery-options label {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 0;
    font-size: 14px;
    color: black;
    width: 80%;
    margin-left: 63px;
    font-weight: 500;
    font-family: var(--font-tektur);
}

.delivery-options label p {
    margin: 0;
    padding-left: 240px;
    color: #B4AA99;
}
.delivery-options input[type="radio"] {
    accent-color: #A68111;
}
.delivery-options label input {
    margin-right: 10px;
}
.delivery-options p {
    font-family: var(--font-tektur);
    color: #B4AA99;
    padding-left: 95px;
    font-size: 14px;
    margin-bottom: 10px;
}

.order-summary {
    display: flex;
    flex-direction: column;
    text-align: left;

}
.book-info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}
.book-image {
    width: 264px;
    height: 391px;
    border-radius: 10px;
    margin-bottom: 15px;

}
.order-summary h3 {
    font-size: 20px;
    margin: 5px 0;
    font-family: var(--font-tektur);
    color: black;
    font-weight: 400;
}

.author {
    color: #B4AA99;
    margin: 15px 0;
    font-family: var(--font-tektur);
    font-weight: 500;
}

.price {
    font-weight: bold;
    color: #B4AA99;
    font-family: var(--font-tektur);
    font-weight: 500;
    margin: 15px 0;
}

.stock {
    color: #B4AA99;
    margin: 15px 0;
    font-family: var(--font-tektur);
    font-weight: 500;
}

.agreement, .policy {
    font-size: 16px;
    color: black;
    font-family: var(--font-tektur);
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 1.4;
}

.confirm-btn {
    background: #a68111;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 30px;
    margin: 80px 60px 0 50px;
    cursor: pointer;
    font-size: 20px;
    font-family: var(--font-tektur);
    transition: 0.3s;
    font-weight: 500;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.confirm-btn:hover {
    background: #8e6f0f;
    font-family: var(--font-rubik);
    transform: translateY(-20px);
    font-weight: 400;
}

.continue-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    font-family: var(--font-tektur);
    font-weight: 500;
}


.cart-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Контейнер літака і полотна */
.plane-wrap {
    position: fixed;
    top: 0;
    right: -120vw; /* старт поза екраном справа */
    width: 120vw;  /* щоб вистачило на весь рух */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 9999;
    pointer-events: none;
    transition: transform 2.8s ease-in-out;
}
/* Контейнер анімації */
.transition-scene {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

/* ✈️ Літак */
.plane {
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.2));
    position: absolute;
    right: -200px;
    bottom: 30%;
    width: 140px;
    transform: rotate(-5deg);
    opacity: 0;
    transition: transform 2.5s ease-in-out, opacity 0.3s;
    backface-visibility: hidden;
}

.next-page {
    position: absolute;
    right: -100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/Знімок екрана 2025-11-14 о 13.33.13.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 2.5s ease-in-out;
    transform: translateX(0);
    box-shadow: -20px 0 60px rgba(0,0,0,0.2);
}
